@import '../theme/color.scss';

.sidebarContainer{
  width: fit-content;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100%;
  height: 100%;
  isolation: isolate;

.sidebar{
  background-color:$white ;
  // position: absolute;
  min-height: 100%;
  padding: 2rem 1.5rem;
width: 100%;
height: 100%;
background-color: var(--sidebarBackground);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  transition: 0.5s all;

  .logoContainer{
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  margin-left: 10px;
  h2.title{
  font-size: 32.43px;
  padding: 0 0 0 12px;
}
}

.burgerContainer{
  content: '';
  color: $white;
  background-color: $darkblue;
  position: absolute;
  right: calc(-35px/2);
  top: calc(9rem/1.15);
  width: 35px;
  height: 35px;
  border-radius: 2rem;
  z-index: 1;
}

.burgerContainer::after{
  content: '';
  position: absolute;
  right: 35px;
  top: calc(35px/2);
  z-index: 0;
  width: calc(6rem + 15rem);
  background-color: $white;
  height: 2px;

}

.profileContainer{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding:3rem 0 0 0.2rem ;
  img{
    width: auto;
    height: 3rem;
  }
  .profileContents{
  padding: 0 0 0 1rem;
  p.name{
  padding: 0;
  margin: 0;
  font-size: 16.7px;
  color: var(--fontColor);
  text-transform: capitalize;
  font-weight: 500;
  }
  .email{
    color: var(--fontColor);
  }
  p{
    padding: 0;
    margin:0;
    font-size:13.9px;
    text-transform: lowercase;

  }
}
}
.contentsContainer{
  margin: 2rem 0 0 0;
  height: 70%;
}

}

.sidebar.active{
  width:3.5rem ;
  transition: .5s all;
  padding: 4rem 1rem;
  .logoContainer.active{
  padding-top: 20px;
   padding-bottom: 20px;
    h2.title{
      display: none;
    }
  }

  .profileContainer{
    padding-top: 20px;
    .profileContents{
      opacity: 0;
    }
  }
  .contentsContainer{

    .title{
      display: none;
    }
 .icon{
  text-align: center;
  margin-left: -10px;
 }
 .icon2{
  display: none;
 }
  }
}
.themeContainer{
  background-color: $white;
}
.burgerContainer.active{
    transition: 0.5s all;
    .burgerMenu{
      background-color: $white;
      transition: 0.5s all;
    }
    .burgerMenu::before{
      transform: translateY(0rem)rotate(0deg);
      transition: 0.5s all;
    }
     .burgerMenu::after{
      transform: translateY(0rem)rotate(0deg);
      transition: 0.5s all;
    }
  }
.hideToggleicon{
  display: none;
}
.showToggleicon{
  position: absolute;
}
.lefthamburger{
  position: absolute;
  margin: 20px 0px 20px 0px;
  background-color: $darkblue;
  margin-left: 25px;
}
.righthamburger{
position: absolute;
 margin-left: 290px;
 background-color: $darkblue;
}
@media only screen and (max-width:460px){
    .sidebar.active{
      display: none;
    }
    .righthamburger{
      opacity: 1;
    }
    .lefthamburger{
      opacity: 0;

    }
    .hideToggleicon{
      display: none;
    }
    .showToggleicon{
      position: absolute;
      padding: 2px 4px ;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
}
}

