@import '../../theme/color.scss';


.subMenuContainer{
  display: flex;
  gap: 25px;
  line-height: 50px;
   border-radius: .5rem;
   padding-left: 15px;
   justify-content: center;
    margin: 10px 0;
   align-items: center;
   &:hover{
      background-color: var(--containerBackground);
   }
  }
.collapseMenu{
  display:none

}
.showCollapse{
  display: block;
  height: auto;
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
border-radius: 8px;

}
  .Submenuicon{
    font-size: 25px;
    color: var(--fontColor);
    position: relative;
    display: inline-block;
    margin-top: 4px;
  }

.Submenuicon .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color:$darkblue;
   color: $white;
  font-size: 18.5px;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 130%;
}

.Submenuicon .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent $darkblue transparent transparent;
}
.Submenuicon:hover .tooltiptext {
  visibility: visible;
}

  .icon2{
    font-size: 30px;
  }

